body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    color: #fff;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */
.container-fluid {
    padding: 7% 15%;
}

.container {
    padding: 7% 15%;
}

.container-fluid .navbar-brand {
    padding-left: 0%;
}

/* Section */

.colored-section {
    background: #ff4c68;
    color: #fff;
}

.white-section {
    background: #fff;
}

/* Navigation Bar */
.navbar {
    position: relative;
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 0;
}

#navbarNav {
    position: absolute;
    right: 0;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.btn span {
    margin-right: 5px;
}

/* Title-Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title Image */
.title-image-div {
    position: relative;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 135px;
}

/* Features section*/
#features {
    position: relative;
    /* z-index: 1; */
}

.feature-title {
    font-size: 1.5rem;
}

.icon {
    color: #ef8172;
    margin: 1rem 0;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
    background: #ef8172;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 10%;
}

.pricing-row {
    padding-top: 5%;
}

.card-column {
    padding-top: 3%;
}

.card {
    height: 100%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}


/* Footer Section */

.social-icon {
    padding: 3% 1%;
    text-decoration: none;
    color: black;
}

.social-icon:hover {
    color: #ff4c68;
}

/* Media Query */

@media (max-width:1100px) {

    #title .container-fluid {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}
